@import "../abstracts/variables";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: $text-font;
  font-size: 1.1rem;
  font-weight: 300;
  color: $primary-color;
}

h1 {
  font-family: $code-font;
  font-size: 2.5rem;
  color: $secondary-color;
  font-weight: bold;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: $secondary-color;
  }
}

@media (min-width: 768px) {
  .container {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 60%;
  }
}
