$secondary-color: #0f4c75;

.banner {
  margin: 3rem 0;

  h1 {
    width: 63%;
    font-weight: 500;
    margin-bottom: 1rem;
    overflow: hidden;
    border-right: 0.15em solid $secondary-color;
    white-space: nowrap;
    letter-spacing: 0.15em;
    animation:
      typing 2s steps(40, end),
      blink-caret 0.8s step-end infinite;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 63%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $secondary-color;
  }
}
