@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$code-font: "JetBrains Mono", monospace;
$text-font: "Noto Sans", sans-serif;

$primary-color: #1b262c;
$secondary-color: #0f4c75;
$ternary-color: #3282b8;
$light-color: #bbe1fa;
$background-color: #e0e1dd;
$danger-color: #a51425;
